.container-result p{
    text-align: center;
    color: #44FFEE;
    font-family: Arial, Helvetica, sans-serif;
}

.container-result h2{
    text-align: center;
    color: #44FFEE;
    font-family: Arial, Helvetica, sans-serif;
}